{% extends 'front/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form.helper %}
{% load templatetag %}
{% load thumbnail %}


{% block head %}
<meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:image" content="" />
<meta property="og:description" content="{{page.description}}" />
<meta name="description" content="{{page.description}}">
<link rel="canonical" href="{{cannonical}}">

<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>

<script async src="https://geowidget.easypack24.net/js/sdk-for-javascript.js"></script>
<link rel="stylesheet" href="https://geowidget.easypack24.net/css/easypack.css" />
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row fixed-top">
    <li class="breadcrumb-item text-dark"><a href="{% url 'welcome' %}" class="text-dark">Strona startowa</a></li>
    <li class="breadcrumb-item text-dark"><a href="{% url 'cart_details' %}" class="text-dark">Koszyk</a></li>
    <li class="breadcrumb-item text-dark active" aria-current="page">Zamówienie</li>
</nav>
<div class="col-lg-8 mx-auto text-center mt-3 pt-0 row d-flex align-items-start">
    <main class="col-lg-12 mx-auto row">
        <div class="text-left headline m-1 mb-2">
            <h1 class="mt-2">NOWE ZAMÓWIENIE:</h1>
        </div>
        <table class="table table_basket">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center th_price">Foto</th>
                    <th scope="col" class="text-center th_title">Nazwa produktu</th>
                    <th scope="col" class="text-center th_qty">ilość</th>
                    <th scope="col" class="text-center th_price">Cena netto</th>
                    <th scope="col" class="text-center th_price">Cena brutto</th>
                    <th scope="col" class="text-center th_price">Wartość netto</th>
                    <th scope="col" class="text-center th_price">Wartość brutto</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_ctx %}
                <tr id="tr{{item.product.id}}" class="">
                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                    <td class="text-center">
                        {% load thumbnail %}
                        {% thumbnail item.image "1280" crop='center' format="WEBP"  as im %}
                        <a href="{{ MEDIA_URL }}{{im}}" data-lightbox="{{item.product.id}}"
                            data-title="{{item.product.product_id.name}}" class="mx-auto text-center p-0 m-0"
                            title="Link do dużego zdcjęcia {{item.product.product_id.name}}">
                            <source srcset="{{ MEDIA_URL }}{{ im }}" type="image/webp">
                            {% thumbnail item.image "75" crop='center' format="WEBP"  as im %}
                            <source srcset="{{ im }}" type="image/webp" />
                            <img class="img-fluid mx-auto m-0 p-0" src="{{ MEDIA_URL }}{{ im }}"
                                alt="{{item.product.product_id.alt}}" title="{{item.product.product_id.title}}">
                            {% endthumbnail %}
                        </a>
                        {% endthumbnail %}
                    </td>
                    <td class="text-center">
                        <div class="col-12 m-0 p-0 row">
                            <a href="{% url 'product_details' category=item.product.product_id.category.slug product=item.product.product_id.slug color=item.product.product_id.color.slug store=item.product.product_id.store.slug pk=item.product.product_id.id %}"
                                class="col-12 text-center m-0 p-0">
                                <p class="col-12 text-center m-0 ">{{item.product.product_id.name}} </p>
                            </a>
                            <small class="col-12 text-center m-0 {{item.product.product_id.color.class_text}}">Obudowa:
                                {{item.product.product_id.color.name}}</small>
                            <small class="col-12 m-0 text-center">Kolor odbicia:
                                {{item.product.get_color_text_display}}</small>
                        </div>
                    </td>
                    <td class="text-center">
                        <strong id="t_netto{{item.product.id}}">{{item.quantity}}
                            szt.</strong>
                    </td>
                    <td class="text-center">{{item.price_netto|floatformat:2}} PLN</td>
                    <td class="text-center">{{item.price|floatformat:2}} PLN</td>
                    <td class="text-center mx-auto"><strong
                            id="t_netto{{item.product.id}}">{{item.t_netto|floatformat:2}}
                            PLN</strong></td>
                    <td class="text-center mx-auto"><strong
                            id="t_brutto{{item.product.id}}">{{item.t_brutto|floatformat:2}}
                            PLN</strong></td>
                </tr>
                {% endfor %}
                <tr id="total">
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <strong id="len_table">{{cart.len}}szt.</strong></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <strong id="total_price_netto_table"
                            class="mx-auto">{{cart.get_total_price_netto|floatformat:2}} PLN</strong>
                    </td>
                    <td class="text-center">
                        <strong id="total_price_table" class="mx-auto">{{cart.get_total_price|floatformat:2}}
                            PLN</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
<div class="col-lg-8 mx-auto row d-flex justify-content-start">
    <div class="col-lg-11 m-0 p-0 row  text-center d-flex justify-content-start">
        <div class="text-left headline m-1 mb-2">
            <h1 class="mt-2">TWOJE DANE OSOBOWE:</h1>
        </div>
        <div class="col-12 text-center row m-0 p-0">
            <div class="default row text-center col-lg-8 m-0 p-0">
                <div class="row col-12 mx-auto">
                    {% if user.profile.company  %}
                    <div class="col-lg-10 row mx-auto m-0 p-0 mt-1">
                        <label for="" class="m-0 p-0 mt-2">Nazwa firmy</label>
                        <input class="col-12" placeholder="{{client.business_name}}" disabled></input>
                    </div>
                    {% if user.profile.business_name_l  %}
                    <div class="col-lg-10 row mx-auto m-0 p-0 mt-1">
                        <label for="" class="m-0 p-0 mt-2">Nazwa firmy</label>
                        <input class="col-12" placeholder="{{client.business_name_l}}" disabled></input>
                    </div>
                    {% endif %}
                    <div class="col-lg-10 row mx-auto m-0 p-0 mt-1">
                        <label for="" class="m-0 p-0">Nip</label>
                        <input class="col-12" placeholder="{{client.nip_number}}" disabled></input>
                    </div>
                    {% else %}
                    <div class="col-lg-10 row mx-auto m-0 p-0 mt-1">
                        <label for="" class="m-0 p-0 mt-2">Imię i Nazwisko</label>
                        <input class="col-12" placeholder="{{client.user.first_name}} {{client.user.last_name}}"
                            disabled></input>
                    </div>
                    {% endif %}
                    <div class="col-lg-10 row mx-auto m-0 p-0">
                        <div class="col-lg-5 row mx-auto m-0 p-0 mt-1">
                            <label for="" class="m-0 p-0">email</label>
                            <input class="col-12" placeholder="{{client.user.email}}" disabled></input>
                        </div>
                        <div class="col-lg-5 row mx-auto m-0 p-0 mt-1">
                            <label for="" class="m-0 p-0">telefon</label>
                            <input class="col-12" placeholder="{{client.phone_number}}" disabled></input>
                        </div>
                    </div>
                    <div class="row col-12 mx-auto text-right">
                        <a href="" class="text-right col-12">edytuj</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-left headline m-1 mb-2 mt-2">
            <h1 class="mt-2">DANE ADRESOWE:</h1>
            <a href="{% url 'add_address_basket' %}" class="text-right ml-auto">
                <button class="btn btn-outline-success"><i class="fas fa-map-marker-alt m-1"></i>Dodaj adres</button>
            </a>
        </div>
        <div class="col-12 text-center row m-0 p-0">
            {% for address in addresses %}
            {% if address.main %}
            <div class="row text-center col-lg-5 m-1 p-0 address default" id="address_id{{address.id}}"
                data-address_id="{{address.id}}">
                {% else %}
                <div class="row text-center col-lg-5 m-1 p-0 address" id="address_id{{address.id}}"
                    data-address_id="{{address.id}}">
                    {% endif %}
                    <form method="POST" class="col-12 m-0 p-0 row" data-address_id="{{address.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="address_id" value="{{address.id}}">
                        <div class="col-10 row mx-auto m-0 p-0">
                            <label for="" class="m-0 p-0 mt-2">Ulica</label>
                            <input class="col-12" placeholder="{{address.street}}" disabled></input>
                        </div>
                        <div class="col-10 row mx-auto m-0 p-0 d-flex justify-content-between">
                            <div class="row col-5 col-lg-5 m-0 p-0">
                                <label for="" class="m-0 p-0">Nr domu</label>
                                <input class="mx-auto col-12 m-0 p-0" placeholder="{{address.house}}" disabled></input>
                            </div>
                            <div class="row col-5 col-lg-5 m-0 p-0">
                                {% if address.door or address.door == "" %}
                                <label for="" class="m-0 p-0">Nr lokalu</label>
                                <input class="mx-auto col-12 m-0 p-0" placeholder="{{address.door}}" disabled></input>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-10 row mx-auto m-0 p-0">
                            <div class="row col-12 mx-auto m-0 p-0">
                                <label for="" class="m-0 p-0">Miasto</label>
                                <input class="mx-auto col-12" placeholder="{{address.city}}" disabled></input>
                            </div>
                            <div class="row col-12 mx-auto m-0 p-0">
                                <label for="" class="m-0 p-0">Kod pocztowy</label>
                                <input class="mx-auto col-12" placeholder="{{address.post_code}}" disabled></input>
                            </div>
                        </div>
                        <div class="row col-12 mx-auto row">
                            <a href="{% url 'delete_address_basket' pk=address.pk %}" class="text-left col-6"><i
                                    class="fas fa-trash text-danger"></i></a>
                            <a href="{% url 'edit_address_basket' pk=address.pk %}" class="text-right col-6">edytuj</a>
                        </div>
                    </form>
                </div>
                {% empty %}
                <p class="col-12 text-danger">Brak adresu</p>
                {% endfor %}
            </div>
        </div>
        <div class="text-left headline m-1 mb-2 mt-2">
            <div class="mt-2">
                <h1 class="mt-2">DOKUMENT HANDLOWY:</h1>
            </div>
        </div>
        <form class="col-12 text-center mx-auto row">
            {% csrf_token %}
            <button name='bill_id' type="button" class="btn-outline-secondary mx-auto text-center col-5 choice_bill"
                data-bill_id="1">PARAGON
            </button>
            <button name='bill_id' type="button" class="btn-success mx-auto  text-center col-5 choice_bill"
                data-bill_id="2">FAKTURA
            </button>
        </form>

        <div class="text-left headline m-1 mb-2 mt-2">
            <h1 class="mt-2">SPOSÓB DOSTAWY:</h1>
        </div>
        <div class="col-12 text-center mx-auto row m-0 p-0 ">
            <div class="delivery_methods border row text-center m-0 p-0 mt-1  col-12 d-flex align-items-center"
                data-delivery_id="1">
                <div class="row col-6 mx-auto">
                    <p class="col-12 text-left m-0 p-2">Odbiór osobisty</p>
                </div>
                <div class="row col-6 mx-auto ">
                    {% if cart.get_total_price > 50.00 %}
                    <p class="col-12 text-right m-0 p-2" id="delivery1" data-price="0.00" data-name="Odbiór osobisty">
                        0.00 PLN</p>
                    {% else %}
                    <p class="col-12 text-right m-0 p-2" id="delivery1" data-price="0.00" data-name="Odbiór osobisty">
                        0.00 PLN</p>
                    {% endif %}
                </div>
            </div>
            <div class="delivery_methods border table-success row text-center m-0 p-0 mt-1 row col-12 d-flex align-items-center"
                data-delivery_id="2">
                <div class="row col-6 mx-auto">
                    <p class="text-left m-0 p-2">Inpost Paczkomaty</p>
                    <p id="open_geo" class="text-left m-0 p-2">Wybierz paczkomat</p>
                </div>
                <div class="row col-6 mx-auto ">
                    {% if cart.get_total_price > 50.00 %}
                    <p class="col-12 text-right m-0 p-2" id="delivery2" data-price="0.00" data-name="Inpost Paczkomaty">
                        0.00 PLN</p>
                    {% else %}
                    <p class="col-12 text-right m-0 p-2" id="delivery2" data-price="14.99"
                        data-name="Inpost Paczkomaty">14.99 PLN</p>
                    {% endif %}
                </div>
                <div id="easypack-map"></div>
            </div>
            <div class="delivery_methods border row text-center m-0 p-0 mt-1  col-12 d-flex align-items-center"
                data-delivery_id="3">
                <div class="row col-6 mx-auto">
                    <p class="col-12 text-left m-0 p-2">Kurier GLS</p>
                </div>
                <div class="row col-6 mx-auto ">
                    {% if cart.get_total_price > 50.00 %}
                    <p class="col-12 text-right m-0 p-2" id="delivery3" data-price="9.99" data-name="Kurier GLS">9.99
                        PLN</p>
                    {% else %}
                    <p class="col-12 text-right m-0 p-2" id="delivery3" data-price="9.99" data-name="Kurier GLS">18.99
                        PLN</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="text-left headline m-1 mb-2">
            <h1 class="mt-2">SPOSÓB PŁATNOŚCI:</h1>
        </div>
        <div class="col-lg-12 mx-auto row m-0 p-0 mb-3">
            {% for pay in pay_methods %}
            {% if pay.default %}
            <div class="payments table-success border row text-center m-0 p-0 mt-1 col-12 d-flex align-items-center"
                data-payment_id="{{pay.id}}">
                {% else %}
                <div class="payments border row text-center m-0 p-0 mt-1 col-12 d-flex align-items-center"
                    data-payment_id="{{pay.id}}">
                    {% endif %}
                    <div class="row col-6 mx-auto">
                        <p class="col-12 text-left m-0 p-2">{{pay.name}}</p>
                    </div>
                    <div class="row col-6 mx-auto ">
                        <p class="col-12 text-right m-0 p-2" id="payment{{pay.id}}" data-price="{{pay.price}}"
                            data-name="{{pay.name}}">
                            {{pay.price}} PLN</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-12 mx-auto row m-0 d-flex align-items-start align-self-start border p-1">
                <form action="" method="POST" class="col-12 m-0 p-0 row">
                    {% csrf_token %}
                    <div class="text-left headline m-1 mb-2 row col-12 d-flex align-items-center mx-auto">
                        <h1 class="mt-2">DANE ZAMÓWIENIA:</h1>
                    </div>
                    <div class="col-12 m-0 p-0 row order_details">
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            {% if client.company %}
                            <small class="m-0 p-0 ml-1">Konto: </small>
                            <p class="m-0 p-0 ml-auto mr-1">Firmowe</p>
                            {% else %}
                            <small class="m-0 p-0 ml-1">Konto: </small>
                            <p class="m-0 p-0 ml-auto mr-1">Indywidualne</p>
                            {% endif %}
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Dokument handlowy: </small>
                            {% if client.company %}
                            <p class="m-0 p-0 ml-auto mr-1" id="bill_form_big">Faktura</p>
                            {% else %}
                            <p class="m-0 p-0 ml-auto mr-1" id="bill_form_big">Paragon</p>
                            {% endif %}
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Metoda dostawy: </small>
                            <p class="m-0 p-0 ml-auto mr-1" id="delivery_form_big">{{delivery_default.name}}</p>
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Metoda płatności: </small>
                            <p class="m-0 p-0 ml-auto mr-1" id="payment_name_form_big">{{payment_default.name}}</p>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0 row order_details">
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            {% if user.profile.company  %}
                            <small class="m-0 p-0 ml-1">Odbiorca: </small>
                            <p class="m-0 p-0 ml-auto mr-1">{{user.profile.business_name}}</p>
                        </div>
                        {% if user.profile.business_name_l  %}
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Odbiorca c.d.: </small>
                            <p class="m-0 p-0 ml-auto mr-1">{{user.profile.business_name_l}}</p>
                        </div>
                        {% endif %}
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">NIP </small>
                            <p class="m-0 p-0 ml-auto mr-1">{{user.profile.nip_number}}</p>
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Telefon</small>
                            <p class="m-0 p-0 ml-auto mr-1">{{user.profile.phone_number}}</p>
                            {% else %}
                            <small class="m-0 p-0 ml-1">Imię, nazwisko</small>
                            <p class="m-0 p-0 ml-auto mr-1">{{user.first_name}} {{user.last_name}}</p>
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Telefon</small>
                            <p class="m-0 p-0 ml-auto mr-1">{{user.profile.phone_number}}</p>
                            {% endif %}
                        </div>

                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Adres: </small>

                            {% if address_default.door %}
                            <div class="m-0 p-0 ml-auto mr-1 row">
                                <p class="m-0 p-1" id="street_form_big">{{address_default.street}}, </p>
                                <p class="m-0 p-1" id="house_form_big">{{address_default.house}}</p>
                                <p class="m-0 p-1" id="door_form_big">/ {{address_default.door}}</p>
                            </div>
                            {% else %}
                            <div class="m-0 p-0 ml-auto mr-1 row">
                                <p class="m-0 p-1" id="street_form_big">{{address_default.street}},</p>
                                <p class="m-0 p-1" id="house_form_big">{{address_default.house}}</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Adres c.d.: </small>
                            <div class="m-0 p-0 ml-auto mr-1 row">
                                <p class="m-0 p-0" id="city_form_big">{{address_default.city}}, </p>
                                <p class="m-0 p-0" id="post_code_form_big">{{address_default.post_code}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0 order_details row ">
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Produkty suma: </small><strong
                                class="m-0 p-0 ml-auto mr-1">{{cart.get_total_price|floatformat:2}} PLN</strong>
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Dostawa koszt: </small><strong class="m-0 p-0 ml-auto mr-1"
                                id="delivery_cost_form_big"
                                data-delivery_cost="{{delivery_cost|floatformat:2}}">{{delivery_cost|floatformat:2}}
                                PLN</strong>
                        </div>
                        <div class="col-12 row m-0 p-0 d-flex align-items-center">
                            <small class="m-0 p-0 ml-1">Płatność koszt: </small><strong class="m-0 p-0 ml-auto mr-1"
                                id="payment_cost_form_big">{{payment_default.price}} PLN</strong>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0 order_details row">
                        <div class="col-12 row m-0 p-0 d-flex align-items-center mt-2 mb-2">
                            <strong class="m-0 p-0 ml-1">Suma zamówienia: </strong><strong class="m-0 p-0 ml-auto mr-1"
                                id="order_price_big">{{order_price|floatformat:2}} PLN</strong>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-1 order_details">
                        {% if client.company %}
                        <input type="hidden" id="bill_type_big" name="bill_type" value="2">
                        {% else %}
                        <input type="hidden" id="bill_type_big" name="bill_type" value="1">
                        {% endif %}
                        <input type="hidden" id="delivery_type_name_big" name="delivery_name"
                            value="{{delivery_default.name}}">
                        <input type="hidden" id="delivery_type_price_big" name="delivery_price"
                            value="{{delivery_cost|floatformat:2}}">
                        <input type="hidden" id="payment_type_name_big" name="payment_name"
                            value="{{payment_default.}}">
                        <input type="hidden" id="payment_type_price_big" name="payment_price"
                            value="{{payment_default.price}}">
                        <input type="hidden" id="product_total_price_big" name="product_total_price"
                            value="{{cart.get_total_price|floatformat:2}}">
                        <input type="hidden" id="order_total_price_big" name="order_total_price"
                            value="{{order_price|floatformat:2}}">
                        <button name="checkout" id="checkout-button" name="checkout" class="btn-success col-12 p-2">Zamawiam</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="order_details" class="col-lg-4 mx-auto row m-0 d-flex align-items-start align-self-start border p-1">
        <div class="text-left headline m-1 mb-2 row col-12 d-flex align-items-center mx-auto">
            <h1 class="mt-2">DANE ZAMÓWIENIA:</h1>
            <i id="close" class="ml-auto p-2 fas fa-arrow-down"></i>
            <i id="open" class="ml-auto p-2 fas fa-arrow-up"></i>
        </div>

        <div class="col-12 m-0 p-0 row order_details">
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                {% if client.company %}
                <small class="m-0 p-0 ml-1">Konto: </small>
                <p class="m-0 p-0 ml-auto mr-1">Firmowe</p>
                {% else %}
                <small class="m-0 p-0 ml-1">Konto: </small>
                <p class="m-0 p-0 ml-auto mr-1">Indywidualne</p>
                {% endif %}
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Dokument handlowy: </small>
                {% if client.company %}
                <p class="m-0 p-0 ml-auto mr-1" id="bill_form">Faktura</p>
                {% else %}
                <p class="m-0 p-0 ml-auto mr-1" id="bill_form">Paragon</p>
                {% endif %}
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Metoda dostawy: </small>
                <p class="m-0 p-0 ml-auto mr-1" id="delivery_form">{{delivery_default.name}}</p>
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Metoda płatności: </small>
                <p class="m-0 p-0 ml-auto mr-1" id="payment_name_form">{{payment_default.name}}</p>
            </div>
        </div>
        <div class="col-12 m-0 p-0 row order_details">
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                {% if user.profile.company  %}
                <small class="m-0 p-0 ml-1">Odbiorca: </small>
                <p class="m-0 p-0 ml-auto mr-1">{{user.profile.business_name}}</p>
            </div>
            {% if user.profile.business_name_l  %}
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Odbiorca c.d.: </small>
                <p class="m-0 p-0 ml-auto mr-1">{{user.profile.business_name_l}}</p>
            </div>
            {% endif %}
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">NIP </small>
                <p class="m-0 p-0 ml-auto mr-1">{{user.profile.nip_number}}</p>
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Telefon</small>
                <p class="m-0 p-0 ml-auto mr-1">{{user.profile.phone_number}}</p>
                {% else %}
                <small class="m-0 p-0 ml-1">Imię, nazwisko</small>
                <p class="m-0 p-0 ml-auto mr-1">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Telefon</small>
                <p class="m-0 p-0 ml-auto mr-1">{{user.profile.phone_number}}</p>
                {% endif %}
            </div>

            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Adres: </small>

                {% if address_default.door %}
                <div class="m-0 p-0 ml-auto mr-1 row">
                    <p class="m-0 p-1" id="street_form">{{address_default.street}}, </p>
                    <p class="m-0 p-1" id="house_form">{{address_default.house}}</p>
                    <p class="m-0 p-1" id="door_form">/ {{address_default.door}}</p>
                </div>
                {% else %}
                <div class="m-0 p-0 ml-auto mr-1 row">
                    <p class="m-0 p-1" id="street_form">{{address_default.street}},</p>
                    <p class="m-0 p-1" id="house_form">{{address_default.house}}</p>
                </div>
                {% endif %}
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Adres c.d.: </small>
                <div class="m-0 p-0 ml-auto mr-1 row">
                    <p class="m-0 p-0" id="city_form">{{address_default.city}}, </p>
                    <p class="m-0 p-0" id="post_code_form">{{address_default.post_code}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 m-0 p-0 order_details row ">
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Produkty suma: </small><strong
                    class="m-0 p-0 ml-auto mr-1">{{cart.get_total_price|floatformat:2}} PLN</strong>
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Dostawa koszt: </small><strong class="m-0 p-0 ml-auto mr-1"
                    id="delivery_cost_form"
                    data-delivery_cost="{{delivery_cost|floatformat:2}}">{{delivery_cost|floatformat:2}} PLN</strong>
            </div>
            <div class="col-12 row m-0 p-0 d-flex align-items-center">
                <small class="m-0 p-0 ml-1">Płatność koszt: </small><strong class="m-0 p-0 ml-auto mr-1"
                    id="payment_cost_form">{{payment_default.price}} PLN</strong>
            </div>
        </div>
        <div class="col-12 m-0 p-0 order_details row">
            <div class="col-12 row m-0 p-0 d-flex align-items-center mt-2 mb-2">
                <strong class="m-0 p-0 ml-1">Suma zamówienia: </strong><strong class="m-0 p-0 ml-auto mr-1"
                    id="order_price">{{order_price|floatformat:2}} PLN</strong>
            </div>
        </div>
        <div class="col-12 m-0 p-1 order_details">
            <button class="btn-success col-12 p-2">Zamawiam</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/order_details.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
    // var csrf_token=document.querySelector('[csrfmiddlewaretoken]').value();
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("{% url 'order_details' %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrfmiddlewaretoken
                }
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({
                    sessionId: session.id
                });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>
{% endblock %}