{% extends 'front/base.html' %}
{% load static %}
{% load thumbnail %}

{% block head %}
<meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:description" content="" />
<meta name="description" content="{{page.description}}">
<link rel="canonical" href="https://pieczatki-colop.pl/">
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<div class="col-lg-8 mx-auto m-0 p-0 row d-flex align-items-center">
    <div id="basket" class="row m-0 p-0 ml-auto border basket">
        <div class="col-3 m-0 p-0 bg-danger row d-flex align-items-center">
            <i class="col-12 m-1 p-1 text-center mx-auto  text-white fas fa-shopping-basket"></i>
        </div>
        <div class="col-7 m-0 p-0 mx-auto text-center bg-dark row d-flex align-items-center">
            <span class="ml-2 text-white">123,00</span><span class="text-white">PLN</span>
        </div>
        <div class="dropdown col-2 bg-dark m-0 p-0 mx-auto text-center">
            <a id="dropdown_basket" class="btn btn-secondary dropdown-toggle" href="#" role="button">
            </a>
        </div>
    </div>
    <div id="basket_div" class="border row m-0 p-0">
        <a class="dropdown-item row" href="#">
            <i class="text-danger fas fa-user"></i>
            <small class="text-dark border-bottom">Towje konto</small>
        </a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item col-11 bg-danger text-center mx-auto text-white" href="#">Podsumowanie</a>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}