{% extends 'front/base.html' %}
{% load static %}
{% load thumbnail %}

{% block head %}
<meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:image" content="https://pieczatki-colop.com{{ MEDIA_URL }}images/bcg-stamp_LrTJcQE_YRKH6ut.webp" />
<meta property="og:description" content="{{page.description}}" />
<meta name="description" content="{{page.description}}">
<link rel="canonical" href="https://pieczatki-colop.com/">
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white p-0 mx-auto d-md-none row fixed-top">
    <li class="breadcrumb-item"><a href="#" class="text-dark">Strona startowa</a></li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Kontakt do sklepu</li> -->
</nav>

<div class="col-12 mx-auto text-center m-0 p-0 row d-flex align-items-center motto">
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "590x300" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-sm-none"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "720x300" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-none d-sm-block d-md-none"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "1280x350" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-none d-md-block d-lg-none"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "1480x250" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-none d-lg-block col-12 m-0 p-0"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
</div>

<div class="col-lg-8 mx-auto m-0 p-0 row d-flex align-items-center motto ">
    <div class="jumbotron jumbotron-fluid mt-2 col-12 motto_solid">
        <div class="container text-center">
            <h1 class="mx-auto text-center">Sklep z pieczątkami firmy Colop</h1>
            <p class="lead mx-auto text-center">Wykonamy każdy rodzaj pieczątki. Metoda laserowego wypalania gumy spełni
                oczekiwania
                najbardziej wymagającego projektu, również zawierającego grafikę np. dla pieczątki z logo.</p>
            <strong class="mx-auto text-center col-12">Zamów za minimum 50zł - wysłka gratis</strong>

        </div>
    </div>
</div>
<div class="col-lg-8 mx-auto m-0 p-0 mt-2 row d-flex align-items-center motto motto_2">
    <div class="col-11 m-0 p-0 col-lg-4 d-flex align-items-center row mx-auto">
        <i class="mx-auto text-center far fa-clock col-12"></i>
        <h3 class="mx-auto text-center col-12 m-0 p-0">Natychmiastowa realizacja projektu</h3>
        <small class="lead mx-auto text-center">Wiekszość zamówień wysyłamy tego samego dnia.</small>
    </div>
    <div class="col-11 m-0 p-0 col-lg-4 d-flex align-items-center row mx-auto">
        <i class="mx-auto text-center fas fa-truck-moving col-12"></i>
        <h3 class="mx-auto text-center col-12 m-0 p-0">Darmowa wysyłka zamówienia*</h3>
        <small class="lead mx-auto text-center">Zamówienie powyżej 50zł zawsze za 0zł.</small>
    </div>
    <div class="col-11 m-0 p-0 col-lg-4 d-flex align-items-center row mx-auto">
        <i class="mx-auto text-center fab fa-slideshare col-12"></i>
        <h3 class="mx-auto text-center col-12 m-0 p-0">Solidna firma. Sklep od 2006r.</h3>
        <small class="lead mx-auto text-center">Firma Miktel istnieje na rynku od wielu lat. Prawie od początku w
            ofercie znajdowała się produkcja pieczątek.</small>
    </div>
</div>

<div class="col-lg-8 m-0 p-0 mx-auto mt-2 row d-flex align-items-center motto_2">
    <h2 class=" mt-3 mx-auto text-center title">Popularne kategorie pieczątek</h2>
</div>


{% for cat in categorys %}
<div class="col-12 mx-auto row mt-2 mb-2 p-0">
    <div class="col-lg-8 mx-auto border m-0 p-0 row d-flex align-items-start motto">
        <div class="col-lg-6 m-0 p-0 mt-2 mb-2 mx-auto text-center d-flex align-items-center">
            {% load thumbnail %}
            {% thumbnail cat.image "1280" crop='center' format="WEBP"  as im %}
            <a href="{{ MEDIA_URL }}{{im}}" data-lightbox="{{cat.id}}" data-title="{{cat.name}}"
                class="col-12 mx-auto text-center p-0 m-0 mt-2"
                title="Link do dużego foto proezentującego kategorię {{cat.name}}">
                <source srcset="{{ im }}" type="image/webp">
                {% thumbnail cat.image "350" crop='center' format="WEBP"  as im %}
                <source srcset="{{ im }}" type="image/webp" />
                <img class="img-fluid mx-auto mt-2" src="{{ MEDIA_URL }}{{im}}" alt="{{cat.alt}}" title="{{cat.title}}">
                {% endthumbnail %}
            </a>
            {% endthumbnail %}
        </div>
        <div class="col-lg-6 m-0 p-0 mt-2 mx-auto text-center d-flex align-items-start row">
            <a href="" class="col-12 mx-auto text-center mt-2" title="Link do produktów z kategorii {{cat.name}}">
                <h3 class="mx-auto text-center title">{{cat.name}}</h3>
            </a>
            <div class="col-12 mt-2 mx-auto text-center">
                <small class="mx-auto text-center m-0 p-0">{{cat.text}}</small>
            </div>
            <h4 class="mx-auto text-center mt-2 col-12">Przykładowe wzory odbicia</h4>
            <div class="col-12 m-0 p-0 mx-auto row">
                {% for el in cat.images_stamp %}
                {% load thumbnail %}
                {% thumbnail el.image "1280" crop='center' format="WEBP"  as im %}
                <a href="{{ MEDIA_URL }}{{im}}" data-lightbox="wzornik {{cat.id}}"
                    data-title="Wzornik pieczątek w kategorii {{cat.name}}" class="mx-auto text-center p-0 m-0 mt-2"
                    title="link duze foto {{el.alt}}">
                    <source srcset="{{ im }}" type="image/webp">
                    {% thumbnail  el.image "150" crop='center' format="WEBP"  as im %}
                    <source srcset="{{ im }}" type="image/webp" />
                    <img class="img-fluid mx-auto m-1" src="{{ MEDIA_URL }}{{im}}" alt="{{el.alt}}"
                        title="{{el.title}}">
                    {% endthumbnail %}
                </a>
                {% endthumbnail %}
                {% endfor %}
            </div>
        </div>
        {% for prod in cat.products %}
        <div class="col-lg-8 motto row m-0 p-0 mt-2 mb-2 mx-auto text-center d-flex justify-content-center">
            <div class="col-12 text-center mx-auto row">
                <h4 class="mx-auto text-center mt-2 title">Przykładowe produkty z kategorii</h4>
            </div>
            <div class="col-6 col-lg-4 m-0 p-1 border d-flex align-items-start row mt-3">
                <div class="col-12 m-0 p-0">
                    {% thumbnail prod.image "350x180" crop='center' format="WEBP"  as im %}
                    <source srcset="{{ im }}" type="image/webp" />
                    <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}" alt="{{prod.alt}}"
                        title="{{prod.title}}">
                    {% endthumbnail %}
                </div>
                <a href="" class="col-12 mx-auto text-center mt-2" title="Link do produktu {{prod.name}}">
                    <h4 class="col-12 mx-auto text-center">{{prod.name}}</h4>
                </a>
                <div class="col-12 mx-auto">
                    {% thumbnail prod.brand.logo "150x50" crop='center' format="WEBP"  as im %}
                    <source srcset="{{ im }}" type="image/webp" />
                    <a href="https://www.ulsinc.com/" class="col-12 m-0 p-0"
                        title="Link do firmy Colop producenta pieczątek">
                        <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}" alt="{{prod.brand.alt}}"
                            title="{{prod.brand.title}}">
                    </a>
                    {% endthumbnail %}
                </div>
                <small class="col-12 text-center">ID:{{prod.id}}</small>
                <div class="col-12 row m-0 p-0 mt-2 d-flex align-items-center">
                    <div class="col-lg-6 row m-0 p-0 pl-1 d-flex align-items-center">
                        <span class="mr-1">Cena:</span>
                        <p class="font-weight-bold text-danger m-0 p-0 mr-auto text-left">{{prod.price}} zł</p>
                        <small class="m-0 p-0 col-12 text-left">Netto: {{prod.price_netto}} + VAT 23%</small>
                    </div>
                    <div class="col-lg-6 row m-0 p-0 d-flex justify-content-end">
                        {% if prod.qty > 0 %}
                        <small class="text-success ml-auto pr-1">Dostępny: {{prod.qty}}szt.</small>
                        <form class="col-12 m-0 p-0 text-right row d-flex justify-content-end" action="">
                            {% csrf_token %}
                            <input type="number" name="qty" value="1" min="1" max="{{prod.qty}}">
                            <span class="input-group-append">
                                <button class="btn btn-secondary stash" type="button" data-action="add">
                                    <i class="basket fa fa-cart-plus"></i> </button>
                            </span>
                        </form>
                        {% else %}
                        <small class="text-danger ml-auto pr-1 col-12 text-right">Brak w magazynie</small>
                        <p class="m-0 p-0 mr-auto text-right col-12">Zadzwoń 506 029 980</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-12 mx-auto text-center mt-2 mb-2">
            <a href="" title="Link do produktów z kategorii {{cat.name}}">
                <button class="btn btn-outline-info">Produkty z kategorii</button>
            </a>
        </div>
    </div>
    <div class="col-12 border m-0 p-0 mt-2"></div>
    {% endfor %}

    <div class="col-lg-8 motto row m-0 p-0 mt-2 mb-2 mx-auto text-center border d-flex justify-content-center">
        <h4 class="mx-auto text-center mt-2 col-12 title">Technologia laserowego wypalenia pieczęci</h4>
        <div class="col-12 m-0 p-0 mt-3">
            {% thumbnail 'images/bcg-laser-.webp' "960x300" crop='center' format="WEBP"  as im %}
            <source srcset="{{ im }}" type="image/webp" />
            <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}"
                alt="Grafika przedstawiająca pracę urządzenia laserowego"
                title="Grafika przedstawiająca pracę urządzenia laserowego">
            {% endthumbnail %}
        </div>
        <div class="d-block d-lg-none col-12 mx-auto">
            {% thumbnail logo_universal.logo "380" crop='center' format="WEBP"  as im %}
            <source srcset="{{ im }}" type="image/webp" />
            <a href="https://www.ulsinc.com/" class="col-12 m-0 p-0" title="Link do firmy Universal Laser System">
                <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}" alt="{{logo_universal.alt}}"
                    title="{{logo_universal.title}}"></a>
            {% endthumbnail %}
        </div>
        <div class="d-none d-lg-block col-12 mx-auto">
            {% thumbnail logo_universal.logo "500" crop='center' format="WEBP"  as im %}
            <source srcset="{{ im }}" type="image/webp" />
            <a href="https://www.ulsinc.com/" class="col-12 m-0 p-0" title="Link do firmy Universal Laser System">
                <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}" alt="{{logo_universal.alt}}"
                    title="{{logo_colop.title}}"></a>
            {% endthumbnail %}
        </div>
        <div class="col-12 row m-0 p-0 mt-2 d-flex align-items-center">
            <p class="text-center col-lg-8 mx-auto">
                {{logo_universal.desc}}
            </p>
        </div>
        <div class="d-block d-lg-none col-12 mx-auto">
            {% thumbnail  logo_colop.logo "380" crop='center' format="WEBP"  as im %}
            <source srcset="{{ im }}" type="image/webp" />
            <a href="https://www.colop.pl/" class="col-12 m-0 p-0" title="Link do firmy Colop producenta pieczątek">
                <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}" alt="{{logo_colop.alt}}"
                    title="{{logo_colop.title}}"></a>
            {% endthumbnail %}
        </div>

        <div class="d-none d-lg-block col-12 mx-auto">
            {% thumbnail logo_colop.logo "500" crop='center' format="WEBP"  as im %}
            <source srcset="{{ im }}" type="image/webp" />
            <a href="https://www.colop.pl/" class="col-12 m-0 p-0" title="Link do firmy Colop producenta pieczątek">
                <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}" alt="{{logo_colop.alt}}"
                    title="{{logo_colop.title}}"></a>
            {% endthumbnail %}
        </div>

        <div class="col-12 row m-0 p-0 mt-2 d-flex align-items-center">
            <p class="text-center col-lg-8 mx-auto">
                {{logo_colop.desc}}
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}

<!--     
    <div id="basket" class="row m-0 p-0 ml-auto border basket">
        <div class="col-3 m-0 p-0 bg-danger row d-flex align-items-center">
            <i class="col-12 m-1 p-1 text-center mx-auto  text-white fas fa-shopping-basket"></i>
        </div>
        <div class="col-7 m-0 p-0 mx-auto text-center bg-dark row d-flex align-items-center">
            <span class="ml-2 text-white">123,00</span><span class="text-white">PLN</span>
        </div>
        <div class="dropdown col-2 bg-dark m-0 p-0 mx-auto text-center">
            <a id="dropdown_basket" class="btn btn-secondary dropdown-toggle" href="#" role="button">
            </a>
        </div>
    </div> -->
<!-- <div id="basket_div" class="border row m-0 p-0">
        <a class="dropdown-item row" href="#">
            <i class="text-danger fas fa-user"></i>
            <small class="text-dark border-bottom">Towje konto</small>
        </a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item col-11 bg-danger text-center mx-auto text-white" href="#">Podsumowanie</a>
    </div> -->