{% extends 'babilon/base_owner.html' %}
{% load crispy_forms_tags %}
{% crispy form.helper %}

{% block content %}
<nav aria-label="breadcrumb col-12 ">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'profile_list' %}">Pracownicy</a></li>
        <li class="breadcrumb-item active" aria-current="page">Zmiana hasła {{profile.user.username}}</li>
    </ol>
</nav>
<div class="col-12 row">
    <div class="col-lg-2 mr-auto">
        <a class="col-12" href="{% url 'profile_list' %}">
            <button class="btn btn-outline-danger">Powrót</button>
        </a>
    </div>
    <form method="post" class="uniForm col-lg-10 mx-auto text-center blueForms border h-100">
        {% csrf_token %}
        <div class="col-12 mx-auto row mb-3">
            <div class="col-lg-10 p-1 mx-auto text-center">
                {{ form_pswd.password|as_crispy_field}}
            </div>
            <div class="col-lg-10 p-1 mx-auto text-center">
                {{ form_pswd.password2|as_crispy_field}}
            </div>
        </div>
        <button name="pswd" type="submit" class="btn btn-outline-success">Zapisz zmiany</button>
    </form>
</div>
{% endblock %}