{% extends "page_ap/base.html" %}

{% block title %}Edycja konta{% endblock %}

{% block content %}
<h1 class="text-center col-12">Wybierz rodzaj konta</h1>
<div class="col-12 row mx-auto text-center d-flex align-items-center">
    <a class="col-10 col-lg-5 mb-2 border border-primary mx-auto choice_reg d-flex align-items-center text-center row"
        href="{% url "register_player" %}">
        <h4 class="mx-auto text-center col-12">PIŁKARZE AKADEMII</h4>
        <button class="btn btn-primary mx-auto text-center">Konto
            zawodnika</button>
    </a>
    <a class="col-10 col-lg-5 mt-2 border border-primary mx-auto choice_reg d-flex align-items-center text-center row"
        href="{% url "register_employe" %}">

        <h4 class="mx-auto text-center col-12">PRACOWNICY AKADEMII</h4><button
            class="btn btn-primary mx-auto text-center">Konto
            pracownika</button>
    </a>
</div>


{% endblock %}