{% extends 'babilon/base_owner.html' %}
{% load crispy_forms_tags %}
{% crispy form.helper %}

{% block content %}
<div class="col-12 row">
  <nav aria-label="breadcrumb col-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'profile_list' %}">Pracownicy</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dodaj pracownika</li>
    </ol>
  </nav>
</div>
<form method="post" class="uniForm col-lg-12 mx-auto text-center blueForms border h-100">
  {% csrf_token %}
  <div class="col-12 mx-auto row mb-3">
    <div class="col-lg-8 mx-auto text-center row">
      <div class="col-lg-12 p-1 mx-auto text-center">
        {{ form_u.username|as_crispy_field}}
      </div>
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_u.password|as_crispy_field}}
      </div>
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_u.password2|as_crispy_field}}
      </div>
    </div>
    <div class="col-lg-8 mx-auto text-center row">
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_u.first_name|as_crispy_field}}
      </div>
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_u.last_name|as_crispy_field}}
      </div>
    </div>
    <div class="col-lg-8 mx-auto text-center row">
      <div class="col-6 p-1 mx-auto text-center">
        {{ form_u.group|as_crispy_field}}
      </div>
      <div class="col-6 p-1 mx-auto text-center">
        {{ form_u.email|as_crispy_field}}
      </div>
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_p.workplace|as_crispy_field}}
      </div>
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_p.workplace_active|as_crispy_field}}
      </div>
      <div class="col-lg-12 p-1 mx-auto text-center">
        {{ form_p.phone_number|as_crispy_field}}
      </div>
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_p.rate_per_hour|as_crispy_field}}
      </div>
      <div class="col-lg-6 p-1 mx-auto text-center">
        {{ form_p.rate_per_drive|as_crispy_field}}
      </div>
    </div>
  </div>
  <div class="col-12 mx-auto text-center mt-3">
    <p id="button" class="col-lg-5 text-center mx-auto h-100"><input class="mx-auto text-center col-12" type="submit"
        value="Utwórz konto"></p>
  </div>
</form>
</div>
{% endblock %}

{% block script %}
{% endblock %}