{% extends 'babilon/base_owner.html' %}
{% load crispy_forms_tags %}
{% crispy form.helper %}

{% block content %}
<nav aria-label="breadcrumb col-12 ">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'profile_list' %}">Pracownicy</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuń pracownika {{ object.user.username }}</li>
  </ol>
</nav>
<div class="col-12 mx-auto row text-center">
    <div class="col-lg-2 mr-auto">
        <a class="col-12" href="{% url 'profile_list' %}">
            <button class="btn btn-outline-danger">Powrót</button>
        </a>
    </div>
    <div class="col-lg-10 mx-auto">
        <h4 class="col-12 text-center">Wypełnij formularz</h4>
        <form method="POST" enctype="multipart/form-data" class="col-12 m-3 mx-auto">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Potwierdź usuwanie: <strong>"{{ object }}" </strong>?</p>
            <input type="submit" class="btn btn-outline-danger" value="Potwierdź usuwanie">
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}