{% extends 'front/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form.helper %}
{% load templatetag %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% crispy form.helper %}

{% block head %}
<meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:image" content="" />
<meta property="og:description" content="{{page.description}}" />
<meta name="description" content="{{page.description}}">
<link rel="canonical" href="{{cannonical}}">
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row fixed-top">
  <li class="breadcrumb-item text-dark"><a href="{% url 'welcome' %}" class="text-dark">Strona startowa</a></li>
  <li class="breadcrumb-item text-dark active" aria-current="page">Rejestracja klienta</li>
</nav>

<div class="col-lg-8 mx-auto text-center mt-3 pt-0 row d-flex align-items-start">
  <main class="col-lg-12 mx-auto row m-0 p-0">
    <div class="text-left headline m-1 mb-2">
      <h1 class="mt-2">REJESTRACJA KLIENTA:</h1>
    </div>
    <div class="col-12 mx-auto row m-0 p-0 mt-2 mb-2">
      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <form method="post" class="uniForm col-lg-8 m-0 p-0 mt-2 mb-2 mx-auto text-center blueForms border">
      {% csrf_token %}
      <div class="col-12 mx-auto row m-0 p-0 mt-2 mb-2">
        <div class="col-lg-12 mx-auto text-center row m-0 p-0">
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <label for="id_email" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Email<span class="asteriskField ">*</span>
            </label>
            <input type="email" name="email" class="emailinput col-10 col-lg-8" maxlength="64" required="" id="id_email">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-at col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <label for="id_password" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Hasło<span class="asteriskField">*</span>
            </label>
            <input type="password" name="password" class="textinput textInput col-10 col-lg-8" required="" id="id_password">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-unlock-alt col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>

          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <label for="id_password2" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Powtórz hasło<span class="asteriskField">*</span>
            </label>
            <input type="password" name="password2" class="textinput textInput col-10 col-lg-8 align-self-start" required="" id="id_password2">
            <span class="input-group-text col-2 text-center align-self-stretch">
              <i class="fas fa-unlock-alt col-12 text-center mx-auto m-0 p-0 align-self-start"></i>
            </span>
          </div>

          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <label for="id_first_name" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Imię<span class="asteriskField">*</span>
            </label>
            <input type="text" name="first_name" class="textinput textInput col-10 col-lg-8" maxlength="32" required=""
              id="id_first_name">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-user col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <label for="id_last_name" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Nazwisko<span class="asteriskField">*</span>
            </label>
            <input type="text" name="last_name" class="textinput textInput col-10 col-lg-8" maxlength="64" required=""
              id="id_last_name">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-user col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <label for="id_phone_number" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Telefon<span class="asteriskField ">*</span>
            </label>
            <input type="text" name="phone_number" class="col-10 col-lg-8" maxlength="18" required="" id="id_phone_number">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-phone col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="g-recaptcha-outer mx-auto text-center m-2">
            <div class="g-recaptcha-inner mx-auto">
              {{ form.captcha|as_crispy_field}}
            </div>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center  row d-flex align-items-stretch justify-content-center">
            <a href="" class="col-11">
              <label for="id_rules" class="col-12 requiredField m-0 p-0 align-self-center">
                Regulamin sklepu<span class="asteriskField ">*</span>
              </label></a>
            <input type="checkbox" name="rules" class="col-1 checkboxinput align-self-center" required="" id="id_rules">
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center row d-flex align-items-stretch justify-content-center">
            <a href="" class="col-11">
              <label for="id_perdon_data" class="col-12 requiredField m-0 p-0 align-self-center">
                Zgoda na przetwarzanie danych osobowych<span class="asteriskField ">*</span>
              </label></a>
            <input type="checkbox" name="perdon_data" class="col-1 checkboxinput align-self-center" required=""
              id="id_perdon_data">
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center  row d-flex align-items-stretch justify-content-center">
            <a href="" class="col-11">
              <label for="id_rodo" class="requiredField m-0 p-0 align-self-center">
                Zgoda RODO<span class="asteriskField ">*</span>
              </label></a>
            <input type="checkbox" name="rodo" class="col-1 checkboxinput align-self-center" required="" id="id_rodo">
          </div>
          <div class="col-12 mx-auto text-center mt-3">
            <p id="button" class="col-lg-5 text-center mx-auto h-100"><input
                class="btn btn-outline-success mx-auto text-center col-12" type="submit" value="Utwórz konto"></p>
          </div>

    </form>
  </main>
</div>
{% endblock %}

{% block script %}
{% endblock %}