{% extends 'front/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form.helper %}
{% load templatetag %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% crispy form.helper %}

{% block head %}
<meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:image" content="" />
<meta property="og:description" content="{{page.description}}" />
<meta name="description" content="{{page.description}}">
<link rel="canonical" href="{{cannonical}}">
{% endblock %}

{% block title %}
{{page.title}}
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row fixed-top">
  <li class="breadcrumb-item text-dark"><a href="{% url 'welcome' %}" class="text-dark">Strona startowa</a></li>
  <li class="breadcrumb-item text-dark active" aria-current="page">Rejestracja klienta</li>
</nav>

<div class="col-lg-8 mx-auto text-center mt-3 pt-0 row d-flex align-items-start">
  <main class="col-lg-12 mx-auto row m-0 p-0">
    <div class="col-lg-12 mx-auto text-center row m-0 p-0">
      <div class="text-left headline m-1 mb-2">
        <h1 class="col-12 mt-2">REJESTRACJA FIRMY:</h1>
      </div>
    </div>
    <form method="post" class="uniForm col-lg-8 m-0 p-0 mt-2 mb-2 mx-auto text-center blueForms border">
      {% csrf_token %}
      <div class="col-12 mx-auto row m-0 p-0 mt-2 mb-2">
        <div class="col-lg-12 m-0 p-0 mx-auto text-center row">
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <div class="text-left headline m-1 mb-2">
              <h1 class="ml-2 mt-2">DANE FIRMY:</h1>
            </div>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
             <small class="text-danger col-12">{{ form.email.errors }}</small>
            <label for="id_email" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Email<span class="asteriskField ">*</span>
            </label>
            <input type="email" name="email" class="emailinput col-10 col-lg-8"
              maxlength="{{ form.email.field.max_length }}" required="{{ form.email.field.required }}" id="id_email">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-at col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.password.errors }}</small>
            <label for="id_password" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Hasło<span class="asteriskField">*</span>
            </label>
            <input type="password" name="password" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.password.field.max_length }}" required="{{ form.password.field.required }}"
              id="id_password">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-unlock-alt col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>

          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
             <small class="text-danger col-12">{{ form.password2.errors }}</small>
            <label for="id_password2" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Powtórz hasło<span class="asteriskField">*</span>
            </label>
            <input type="password" name="password2" class="textinput textInput col-10 col-lg-8 align-self-start"
              maxlength="{{ form.password2.field.max_length}}" required="{{ form.password2.field.required }}">
            <span class="input-group-text col-2 text-center align-self-stretch">
              <i class="fas fa-unlock-alt col-12 text-center mx-auto m-0 p-0 align-self-start"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
             <small class="text-danger col-12">{{ form.business_name.errors }}</small>
            <label for="id_business_name" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Nazwa firmy<span class="asteriskField">*</span>
            </label>
            <input type="text" name="business_name" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.business_name.field.max_length }}" required="{{ form.business_name.field.required }}"
              id="id_business_name">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-user col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.business_name_l.errors }}</small>
            <label for="id_business_name_l" class="col-lg-2 m-0 p-0 align-self-center">
              Nazwa c.d. {{ form.business_name_l.field.required }}
            </label>
            <input type="text" name="business_name_l" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.business_name_l.field.max_length }}" id="id_business_name_l">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-user col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.nip_number.errors }}</small>
            <label for="id_nip_number" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              NIP<span class="asteriskField">*</span>
            </label>
            <input type="text" name="nip_number" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.nip_number.field.max_length }}" required="{{ form.nip_number.field.required }}"
              id="id_nip_number">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-user col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.phone_number.errors }}</small>
            <label for="id_phone_number" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Telefon<span class="asteriskField ">*</span>
            </label>
            <input type="text" name="phone_number" class="col-10 col-lg-8"
              maxlength="{{ form.phone_number.field.max_length }}" required="{{ form.phone_number.field.required }}"
              id="id_phone_number">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-phone col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <div class="text-left headline m-1 mb-2">
              <h1 class="ml-2 mt-2">DANE ADRESOWE:</h1>
            </div>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.street.errors }}</small>
            <label for="id_street" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Ulica<span class="asteriskField">*</span>
            </label>
            <input type="text" name="street" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.street.field.max_length }}" required="{{ form.street.field.required }}" id="id_street">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-road col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.house.errors }}</small>
            <label for="id_house" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Nr domu<span class="asteriskField">*</span>
            </label>
            <input type="text" name="house" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.house.field.max_length }}" required="{{ form.house.field.required }}" id="id_house">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-home col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.door.errors }}</small>
            <label for="id_door" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Nr lokalu
            </label>
            <input type="text" name="door" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.door.field.max_length }}" id="id_door">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-home col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.zip_code.errors }}</small>
            <label for="id_zip_code" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Kod pocztowy<span class="asteriskField">*</span>
            </label>
            <input type="text" name="zip_code" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.zip_code.field.max_length }}" required="{{ form.zip_code.field.required }}"
              id="id_zip_code">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-barcode col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center input-group row d-flex align-items-stretch">
            <small class="text-danger col-12">{{ form.city.errors }}</small>
            <label for="id_city" class="requiredField col-lg-2 m-0 p-0 align-self-center">
              Miasto<span class="asteriskField">*</span>
            </label>
            <input type="text" name="city" class="textinput textInput col-10 col-lg-8"
              maxlength="{{ form.city.field.max_length }}" required="{{ form.city.field.required }}" id="id_city">
            <span class="input-group-text col-2 text-center">
              <i class="fas fa-city col-12 text-center mx-auto m-0 p-0"></i>
            </span>
          </div>
          <div class="g-recaptcha-outer mx-auto text-center m-2">
            <small class="text-danger col-12">{{ form.captcha.errors }}</small>
            <div class="g-recaptcha-inner mx-auto">
              {{ form.captcha|as_crispy_field}}
            </div>
          </div>
         <div class="col-lg-12 p-1 mx-auto text-center  row d-flex align-items-stretch justify-content-center">
            <a href="" class="col-11">
              <label for="id_rules" class="col-12 requiredField m-0 p-0 align-self-center">
                Regulamin sklepu<span class="asteriskField ">*</span>
              </label></a>
            <input type="checkbox" name="rules" class="col-1 checkboxinput align-self-center" required="" id="id_rules">
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center row d-flex align-items-stretch justify-content-center">
            <a href="" class="col-11">
              <label for="id_perdon_data" class="col-12 requiredField m-0 p-0 align-self-center">
                Zgoda na przetwarzanie danych osobowych<span class="asteriskField ">*</span>
              </label></a>
            <input type="checkbox" name="perdon_data" class="col-1 checkboxinput align-self-center" required=""
              id="id_perdon_data">
          </div>
          <div class="col-lg-12 p-1 mx-auto text-center  row d-flex align-items-stretch justify-content-center">
            <a href="" class="col-11">
              <label for="id_rodo" class="requiredField m-0 p-0 align-self-center">
                Zgoda RODO<span class="asteriskField ">*</span>
              </label></a>
            <input type="checkbox" name="rodo" class="col-1 checkboxinput align-self-center" required="" id="id_rodo">
          </div>
          <div class="col-12 mx-auto text-center mt-3">
            <p id="button" class="col-lg-5 text-center mx-auto h-100"><input
                class="btn btn-outline-success mx-auto text-center col-12" type="submit" value="Utwórz konto"></p>
          </div>

    </form>
  </main>
</div>
{% endblock %}

{% block script %}
{% endblock %}