{% extends 'front/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form.helper %}
{% load templatetag %}
{% load thumbnail %}


{% block head %}
<meta property="fb:app_id" content="{{app_id}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:title" content="Szczegóły produktu {{object.name}} z kategorii {{object.category.name}} | Zamów On-Line w naszym sklepie." />
<meta property="og:image" content="https://pieczatki-colop.com{{ MEDIA_URL }}{{object.image}}" />
<meta property="og:description" content="Szczegóły produktu {{object.name}} z kategorii {{object.category.name}} | Zamów On-Line w naszym sklepie." />
<meta name="description" content="Szczegóły produktu {{object.name}} z kategorii {{object.category.name}} | Zamów On-Line w naszym sklepie.">
<link rel="canonical" href="{{cannonical}}">
{% endblock %}

{% block title %}
{{object.category}} | {{object.name}} 
{% endblock %}

{% block content %}
<nav id="link_map" aria-label="breadcrumb" class="col-12 bg-white mx-auto d-md-none row fixed-top" style="min-height: 75px;">
    <li class="breadcrumb-item m-0 p-0"><a href="{% url 'welcome' %}" class=" m-0 p-0">Strona startowa</a></li>
    <li class="breadcrumb-item m-0 p-0"><a href="{% url 'products_list' %}" class=" m-0 p-0">Produkty</a></li>
    <li class="breadcrumb-item m-0 p-0"><a href="{% url 'category_details' category=object.category.slug pk=object.category.id  %}" class=" m-0 p-0">{{object.category.name}}</a></li>
    <li class="breadcrumb-item text-dark m-0 p-0 active" aria-current="page">{{object.name}}</li>
</nav>

<div class="col-12 mx-auto text-center m-0 p-0 row d-flex align-items-center motto">
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "590x300" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-sm-none"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "720x300" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-none d-sm-block d-md-none"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "1280x350" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-none d-md-block d-lg-none"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
    {% thumbnail "images/bcg-stamp_LrTJcQE_YRKH6ut.webp" "1480x250" crop='center' format="WEBP"  as im %}
    <img src="{{ MEDIA_URL }}{{im}}" class="img-fluid mx-auto text-center d-none d-lg-block col-12 m-0 p-0"
        title="Prezentacja graficzna sklepu z pieczątki Colop" alt="Prezentacja graficzna sklepu z pieczątki Colop">
    {% endthumbnail %}
</div>

<div class="col-lg-8 mx-auto text-center mt-3 pt-0 row d-flex align-items-start">
    <div class="col-lg-3 row m-0 p-0 border">
        <div class="col-12 m-0 p-0 bg-dark row d-flex align-items-center">
            <i class="fas fa-list text-white mr-2 ml-1"></i>
            <p class="text-center text-white card-header">KATEGORIE</p>
        </div>
        <ul class="nav cat_nav">
            {% for cat in categorys %}
            <li class="nav-item dropdown-submenu ">
                <a class="nav-link text-left" href="{% url 'category_details' category=cat.slug pk=cat.id %}">{{cat.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <main class="col-lg-8 mx-auto row">
        <section class="product-container row mx-auto">
            <div class="text-left headline m-1 mb-2">
                <h1 class="mt-2">SZCZEGÓŁY PRODUKTU:</h1>
            </div>
            <article class="product-list-item col-10 col-lg-12 mt-2 pb-2 row mx-auto border d-flex align-items-start">
                <div class="col-lg-3 m-0 p-0">
                    {% load thumbnail %}
                    {% thumbnail object.image "1280" crop='center' format="WEBP"  as im %}
                    <a href="{{ MEDIA_URL }}{{im}}" data-lightbox="{{object.id}}" data-title="{{object.name}}"
                        class="mx-auto text-center p-0 m-0 mt-2" title="Link do dużego zdcjęcia {{object.name}}">
                        <source srcset="{{ im }}" type="image/webp">
                        {% thumbnail  object.image "75x75" crop='center' format="WEBP"  as im %}
                        <source srcset="{{ im }}" type="image/webp" />
                        <img class="img-fluid mx-auto m-1" src="{{ MEDIA_URL }}{{im}}" alt="{{object.alt}}"
                            title="{{object.title}}">
                        {% endthumbnail %}
                    </a>
                    {% endthumbnail %}
                </div>
                <div class="col-lg-7 row m-0 p-0">
                    <div class="col-12 m-0 p-0 mx-auto row d-flex align-items-center">
                        <a href="" class="mx-auto text-left mt-2 m-0 p-0" title="Link do produktu {{object.name}}">
                            <p class="col-12 mx-auto text-center m-0 p-1 product_title  m-0 p-0">{{object.name}}</p>
                        </a>
                    </div>
                    {% thumbnail object.brand.logo "50" crop='center' format="WEBP"  as im %}
                    <source srcset="{{ im }}" type="image/webp" />
                    <a href="https://www.colop.pl/" class="col-12 m-0 p-0"
                        title="Link do firmy {{object.brand.title}} producenta pieczątek">
                        <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{im}}" alt="{{object.brand.alt}}"
                            title="{{object.brand.title}}">
                    </a>
                    {% endthumbnail %}
                </div>
                <div class="col-lg-2 m-0 p-0 row">
                    <small class="col-12 mt-2 p-0 text-right">ID:{{object.id}}</small>
                </div>
                <form id="form" action="{% url 'add_products' %}" method="POST" class="col-12 row m-0 p-0">
                    {% csrf_token %}
                    <input type="hidden" name="" id="prod_id" value="{{object.id}}">
                    <div class="col-12 row m-0 p-0 mt-2">
                        <div class="col-lg-6 m-0 p-0 mt-2 row d-flex align-items-center">
                            <strong class="m-0 p-0 text-left">Kolor obudowy: </strong><span
                                class="ml-2 {{object.color.class_text}}">{{object.color.name}}</span>
                            <div class="col-12 row m-0 p-0 ">
                                <strong class="m-0 p-0 text-left">Inne kolory dostępne:</strong>
                                {% for other in object.other_colors %}
                                <a
                                    href="{% url 'product_details' category=object.category.slug product=object.slug color=other.color.slug store=object.store.slug pk=other.pk %}">
                                    <small class="{{other.color.class_text}} m-1">{{other.color.name}}</small>
                                </a>
                                {% empty %}
                                <small class="col-12 m-0 p-0 text-left">Brak innych kolorów</small>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="col-lg-6 m-0 p-0 row text-right mt-2">
                            <strong class="m-0 p-0 text-right col-12">Kolory odbicia:</strong>
                            <select name="color_s" class="custom-select col-lg-6 ml-auto" id="color_s">
                                {% for k,v in colors %}
                                <option value="{{k}}" class="text-dark">{{v}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12 row m-0 p-0 mt-2 d-flex align-items-center">
                        <div class="col-6 row m-0 p-0 d-flex align-items-start">
                            {% if object.price_promo %}
                            <del class="text-dark m-0 p-0 mr-auto text-left"
                                data-ng-bind-html="discount | currency_format">{{object.price}} zł</del>
                            <span class="mr-1">Cena promo:</span>
                            <p class="font-weight-bold text-danger m-0 p-0 mr-auto text-left">{{object.price_promo}} zł
                            </p>
                            <small class="m-0 p-0 col-12 text-left">Netto: {{object.price_netto}} + VAT 23%</small>
                            {% else %}
                            <span class="mr-1">Cena:</span>
                            <p class="font-weight-bold text-danger m-0 p-0 mr-auto text-left">{{object.price}} zł</p>
                            <small class="m-0 p-0 col-12 text-left">Netto: {{object.price_netto}} + VAT 23%</small>
                            {% endif %}
                        </div>
                        {% if object.qty > 0 %}
                        <div class="col-6 m-0 p-0 text-right row d-flex justify-content-end">
                            <div class="col-12 text-right m-0 p-0 row d-flex justify-content-end">
                                <small class="text-success pr-1">Dostępny:</small>
                                <!-- <small id="in_stock_info" class="text-success pr-1">{{object.qty}}szt.</small> -->
                            </div>
                            <input id="qty" type="number" name="qty" value="1" min="1" max="{{object.qty}}">
                            <span id="add_product" class="input-group-append" data-toggle="modal"
                                data-target="#exampleModal{{object.id}}">
                                <button class="btn btn-secondary stash" type="button" data-action="add">
                                    <i class="basket fa fa-cart-plus"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="exampleModal{{object.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content p-1 col-12">
                            <div class="modal-header d-flex align-items-center row">
                                <div class="col-12 row d-flex align-items-center">
                                    <i class="fas fa-clipboard-check"></i>
                                    <h5 class="modal-title ml-1" id="exampleModalLabel">Produkt dodano do koszyka
                                    </h5>
                                </div>
                                <div class="col-12 row d-flex align-items-center">
                                    <span class="">Nazwa:</span>
                                    <p class="p-0 m-0 ml-1">{{object.name}}</p>
                                </div>
                                <div class="col-12 row d-flex align-items-center">
                                    <span class="">Kolor obudowy:</span>
                                    <p class="p-0 m-0 ml-1 {{object.color.class_text}}">{{object.color.name}}</p>
                                </div>
                                <div class="col-12 row d-flex align-items-center">
                                    <span class="">Ilość:</span>
                                    <p id="add_qty" class="p-0 m-0 ml-1"></p>
                                </div>
                                <div class="col-12 mt-2 mx-auto row d-flex align-items-center">
                                    <span class="basket">KOSZYK</span>
                                    <a href="{% url 'cart_details' %}" class="row m-0 p-0 ml-auto">
                                        <button type="button" class="btn btn-outline-success  m-1 p-1 row">
                                            <i class="text-center mx-auto text-success fas fa-shopping-basket"></i>
                                            Koszyk
                                        </button>
                                    </a>
                                </div>
                                <div class="col-12 mt-2 row d-flex align-items-center">
                                    <span class="">Ilość produktów w koszyku:</span>
                                    <p id="len_modal" class="p-0 m-0 ml-1">{{cart|length}}szt.</p>
                                </div>
                                <div class="col-12 mt-2 row d-flex align-items-center">
                                    <span class="">Kwota brutto:</span>
                                    <p id="total_price_modal" class="p-0 m-0 ml-1">{{cart.get_total_price}}</p>
                                </div>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="col-12 row m-0 p-0">
                                <a href="{% url 'products_list' %}" class="col-5 m-0 p-0">
                                    <button type="button"
                                        class="btn btn-outline-success mx-auto  m-1 p-1">Kontynuuj zakupy</button>
                                </a>
                                <button type="button" class="btn btn-outline-secondary mx-auto col-5 m-1 p-1 row">
                                    <i class="fas fa-cogs"></i>
                                    <span class="">Utwórz projekt</span>
                                </button>
                                <button type="button" class="btn btn-danger ml-auto mx-auto m-1 p-1 col-5"
                                    data-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-secondary mt-1">
                    <i class="fas fa-cogs"></i>
                    <span class="">Utwórz projekt</span>
                </button>
                {% else %}
                <small class="text-danger ml-auto pr-1 col-12 text-right">Brak w magazynie</small>
                <p class="m-0 p-0 mr-auto text-right col-12">Zadzwoń 506 029 980</p>
                {% endif %}

                <div class="col-12 mx-auto row m-0 p-0 mt-2">

                </div>
            </article>
            <div class="text-left headline m-1 mb-2">
                <h2 class="mt-2">Galeria zdjęć produktu</h2>
                {% for image in object.images %}
                {% load thumbnail %}
                {% thumbnail image.image "1280" crop='center' format="WEBP"  as im %}
                <a href="{{ MEDIA_URL }}{{im}}" data-lightbox="{{image.id}}" data-title="{{image.name}}"
                    class="mx-auto text-center p-0 m-0 mt-2" title="Galeria zdjęć produktu {{object.name}}">
                    <source srcset="{{ im }}" type="image/webp">
                    {% thumbnail  image.image "75x75" crop='center' format="WEBP"  as im %}
                    <source srcset="{{ im }}" type="image/webp" />
                    <img class="img-fluid mx-auto m-1 border" src="{{ MEDIA_URL }}{{im}}" alt="{{image.alt}}"
                        title="{{image.title}}">
                    {% endthumbnail %}
                </a>
                {% endthumbnail %}
                {% empty %}
                <small class="ml-auto pr-1 col-12 text-right">Brak zdjęć</small>
                {% endfor %}
            </div>
    </main>
</div>

{% endblock %}

{% block script %}
{% if object.price_promo %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{object.name}}",
        "image": "https://{{site}}{{ MEDIA_URL }}{{object.image}}",
        "description": "{{object.desc}}",
        "brand": "{{object.category.name}}",
        "offers": {
            "@type": "Offer",
            "url": "https://{{site}}{{object.get_absolute_url}}",
            "priceCurrency": "PLN",
            "price": "{{object.price_promo}}",
            "availability": "https://schema.org/InStock",
            "itemCondition": "https://schema.org/NewCondition"
        }
    }
</script>
{% else %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{object.name}}",
        "image": "https://{{site}}{{ MEDIA_URL }}{{object.image}}",
        "description": "{{object.desc}}",
        "brand": "{{object.category.name}}",
        "offers": {
            "@type": "Offer",
            "url": "https://{{site}}{{object.get_absolute_url}}",
            "priceCurrency": "PLN",
            "price": "{{object.price}}",
            "availability": "https://schema.org/InStock",
            "itemCondition": "https://schema.org/NewCondition"
        }
    }
</script>
{% endif %}
<script src="{% static "js/product_details.js" %}" type="text/javascript"></script>
{% endblock %}